/*
This CSS file, accordion.css, is used to style an accordion component. An accordion is a UI pattern where content is hidden and shown in collapsible panels.
*/
.accordion-pane button {
  position: relative;
  border-color: var(--color-link);
  background-color: var(--color-link);
  padding-right: 3.5em;
}

.accordion-pane button .accordion-icon{
  display: none;
}

.accordion-pane button::after {
  position: absolute;
  top: 1.25rem;
  right: var(--spacing-larger);
  width: 22px;
  height: 11px;
  content: "";
  background-image: var(--icon-chevron-white);
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

.accordion-pane button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.accordion-pane button:hover,
.accordion-pane button:focus {
  color: var(--color-link);
  background-color: var(--color-white);
}

.accordion-pane button:hover::after,
.accordion-pane button:focus::after {
  background-image: var(--icon-chevron-blue);
}
