/* Alert banners */

.localgov-alert-banner {
    margin: var(--spacing);
}

.localgov-alert-banner--major,
.localgov-alert-banner--announcement,
.localgov-alert-banner--minor {
    background: var(--color-white);
    border-width: 5px;
    border-style: solid;
    margin: 0 var(--spacing) var(--spacing) var(--spacing);
}

.localgov-alert-banner--major {
    border-color: var(--alert-banner-bg-color-major);
}

.localgov-alert-banner--announcement {
    border-color: var(--color-green);
}

.localgov-alert-banner--announcement .localgov-alert-banner__close {
    border-color: var(--color-black);
}

.localgov-alert-banner--notable-person .localgov-alert-banner__close:hover,
.localgov-alert-banner--notable-person .localgov-alert-banner__close:focus {
    color: var(--color-black);
}

.localgov-alert-banner--minor {
    border-color: var(--alert-banner-bg-color-minor);
}

.localgov-alert-banner--notable-person,
.localgov-alert-banner--notable-person .localgov-alert-banner__close,
.localgov-alert-banner--notable-person a {
    color: var(--color-white);
}

.localgov-alert-banner--notable-person {
    margin-bottom: var(--spacing);
}

.localgov-alert-banner__actions {
    align-items: flex-start;
}

.localgov-alert-banner__close {
    border: 1px solid var(--color-black);
    font-weight: var(--font-weight-normal);
    font-size: var(--font-size-small);
}

.localgov-alert-banner__close:hover,
.localgov-alert-banner__close:focus {
    color: var(--color-black);
    border: 1px solid var(--color-black);
}

.localgov-alert-banner .localgov-alert-banner__title {
    padding-bottom: 0;
    margin-bottom: var(--spacing);
}

.localgov-alert-banner .localgov-alert-banner__inner {
    background-position: 0 35px;
    background-repeat: no-repeat;
    background-size: 35px;
    padding-left: var(--spacing-jumbo);
    padding-top: var(--spacing-larger);
}

@media only screen and (min-width: 768px) {
    .localgov-alert-banner .localgov-alert-banner__inner {
        padding-left: calc(var(--spacing-jumbo) * 3);
    }
}

.localgov-alert-banner--major .localgov-alert-banner__inner {
    background-image: var(--icon-emergency_red);
}

.localgov-alert-banner--announcement .localgov-alert-banner__inner {
    background-image: var(--icon-info_green);
}

.localgov-alert-banner--minor .localgov-alert-banner__inner {
    background-image: var(--icon-warning_yellow);
}
