/**
 * This CSS code defines the styling for blockquote elements.
 * It is used to visually distinguish quoted content from the surrounding text.
*/

blockquote {
  padding-left: var(--spacing-largest);
  background-image: var(--icon-quote);
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: 30px;
  font-size: var(--font-size-h3);
}

.pull-out-quote {
  padding-left: var(--quote-padding-left);
  border-color: unset;
  border-left: none;
  background-color: var(--quote-background-color);
  margin-bottom: 0;
}

.paragraph--type--localgov-quote {
  margin-bottom: calc(var(--grid-gap) * -1) !important;
}
