/**
 * This CSS code defines the styling for blockquote elements.
 * It is used to visually distinguish quoted content from the surrounding text.
*/

blockquote {
    font-size: var(--font-size-h3);
    background-image: var(--icon-quote);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 30px;
    padding-left: var(--spacing-largest);
}

.pull-out-quote {
    padding-left: var(--quote-padding-left);
    border-color: unset;
    border-left: none;
    background-color: var(--quote-background-color);
}
