/*
This CSS code is used to create a visually distinct "call-out box" component, which can be used to highlight important content on a webpage. The different selectors allow for different variations of the call-out box, such as a default version, a version with a blue background, and a version without an image.
*/

.call-out-box__content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.call-out-box__content .field--type-text-long {
    flex-grow: 1;
}

.call-out-box__content h2 {
    color: var(--color-white);
}

p.callout {
    font-weight: var(--font-semibold);
}

.call-out-box__content h2:empty {
    display: none;
}

.call-out-box__link {
    color: var(--color-link);
    display: inline-block;
    width: fit-content;
}

.callout.callout-primary {
    background-color: var(--color-black);
}

.call-out-box--no-image {
    background-color: var(--color-white);
    height: 100%;
}

/* Call out box - variants */
.call-out-box--default .call-out-box__content {
    --call-out-box-bg-color: var(--color-accent);
}

.call-out-box--blue .call-out-box__content {
    --call-out-box-bg-color: var(--background-blue);
}

.call-out-box--black .call-out-box__content {
    --call-out-box-bg-color: var(--color-black);
}
