.call-out-box__content h2 {
    color: var(--color-white);
}

p.callout {
    font-weight: var(--font-semibold);
}

.call-out-box__link {
    color: var(--color-link);
}

.callout.callout-primary {
    background-color: var(--color-black);
}

/* Call out box - variants */
.call-out-box--blue {
    --call-out-box-bg-color: var(--background-blue);
}

.call-out-box--black {
    --call-out-box-bg-color: var(--color-black);
}
