.call-out-box__content h2 {
    color: var(--color-white);
}

p.callout {
    font-weight: var(--font-semibold);
}

.call-out-box__link {
    color: var(--color-link);
}

.callout.callout-primary {
    background-color: var(--color-black);
}
