/* CURVE */

#curvedsvg {
  position: absolute;
  width: 0;
  height: 0;
}

.curve-bottom {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  padding-bottom: 6rem;
  border-bottom: 3px solid white;
  background: #fff;
  -webkit-clip-path: url(#my-clip-path);
  clip-path: inset(3rem);
  clip-path: url(#my-clip-path);
}

.lgd-page-section.lgd-page-section--curve {
  position: relative;
  margin-bottom: var(--spacing-large);
  padding-top: clamp(2rem, 5vw, 5rem);
  padding-bottom: 6rem;
  background: var(--color-grey);
}

.lgd-page-section--curve .layout .layout__region {
  margin: 0;
}

div.lgd-page-section--curve .media-with-text__body {
  padding-top: 0;
  padding-right: clamp(5.5rem, 5vw, 10rem);
  background: var(--color-grey);
}

div.lgd-page-section--curve .media-with-text__body .field--name-localgov-text p {
  font-size: clamp(1.5625rem, 1.3rem + 1.2vw, 2.1875rem);
  font-weight: 500;
  line-height: 1.25715;
}

div.lgd-page-section--curve .media-with-text__body a {
  color: var(--color-link-dark);
  font-size: clamp(1.5625rem, 1.3rem + 1.2vw, 2.1875rem);
}

.lgd-page-section--curve .media-with-text__body h2 {
  margin-top: var(--spacing);
  font-size: clamp(2.1875rem, 2rem + 0.75vw, 2.5rem);
  line-height: 1;
}

div:has(.lgd-page-section--curve) .media-with-text__media {
  display: flex;
  align-items: top;
  justify-content: left;
}

@media screen and (min-width: 768px) {
  div:has(.lgd-page-section--curve) .media-with-text__media {
    justify-content: center;
  }
}
