/*
This CSS file, date-time.css, is used to style datetime fields and specific elements within a news article teaser. 
*/
.field--type-datetime {
    margin-top: calc(var(--spacing) * 0.75);
    margin-bottom: var(--spacing);
}

.lgd-teaser__content--localgov-news-article .field--name-localgov-news-date {
    color: var(--color-grey-mid);
    font-size: var(--font-size-small);
}
