@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/ecc-shared/Lexend-Regular.woff2') format('woff2'),
        url('../assets/fonts/ecc-shared/Lexend-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/ecc-shared/Lexend-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/ecc-shared/Lexend-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Lexend';
    src: url('../assets/fonts/ecc-shared/Lexend-SemiBold.woff2') format('woff2'),
        url('../assets/fonts/ecc-shared/Lexend-SemiBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
