/* Footer */
.lgd-footer__pre-footer {
  background-color: var(--color-black);
}

.lgd-footer__footer {
  background-color: var(--color-black);
}

footer .menu {
  padding-left: 0;
}

footer .menu li {
  display: inline-block;
  list-style-type: none;
}

footer .menu--footer li {
  margin-right: 1em;
  margin-bottom: 1.625rem;
}

footer .menu--social-media {
  display: flex;
  justify-content: flex-end;
}

footer .menu--social-media .social-link {
  display: inline-block;
  width: 3rem;
  min-height: 3.5rem;
  text-indent: -999rem;
  direction: ltr;
  border-bottom: 2px solid var(--color-black);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 60% 40%;
}

footer .menu--social-media .social-link:hover,
footer .menu--social-media .social-link:focus {
  border-bottom: 2px solid;
}

footer .menu--social-media .facebook {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='36' viewBox='0 0 19 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_140_4774)'%3E%3Cpath d='M17.71 19.9L18.71 13.5H12.57V9.35C12.57 7.59 13.43 5.89 16.18 5.89H18.97V0.440002C17.3167 0.168246 15.6453 0.0211624 13.97 0C8.90997 0 5.60999 3.07 5.60999 8.62V13.5H-0.0200195V19.9H5.60999V35.38H12.53V19.9H17.71Z' fill='white'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4774'%3E%3Crect width='18.95' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .facebook:focus {
  background-image: url("data:image/svg+xml,%3Csvg width='19' height='36' viewBox='0 0 19 36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_140_4774)'%3E%3Cpath d='M17.71 19.9L18.71 13.5H12.57V9.35C12.57 7.59 13.43 5.89 16.18 5.89H18.97V0.440002C17.3167 0.168246 15.6453 0.0211624 13.97 0C8.90997 0 5.60999 3.07 5.60999 8.62V13.5H-0.0200195V19.9H5.60999V35.38H12.53V19.9H17.71Z' fill='black'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_140_4774'%3E%3Crect width='18.95' height='35.38' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
}

footer .menu--social-media .twitter {
  background-image: url("data: image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20%20stroke%3D%22white%22%20fill%3D%22white%22%20d%3D%22M64%2032C28.7%2032%200%2060.7%200%2096V416c0%2035.3%2028.7%2064%2064%2064H384c35.3%200%2064-28.7%2064-64V96c0-35.3-28.7-64-64-64H64zm297.1%2084L257.3%20234.6%20379.4%20396H283.8L209%20298.1%20123.3%20396H75.8l111-126.9L69.7%20116h98l67.7%2089.5L313.6%20116h47.5zM323.3%20367.6L153.4%20142.9H125.1L296.9%20367.6h26.3z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 60%;
}

footer .menu--social-media .twitter:focus {
  background-image: url("data: image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20512%20512%22%3E%3Cpath%20d%3D%22M64%2032C28.7%2032%200%2060.7%200%2096V416c0%2035.3%2028.7%2064%2064%2064H384c35.3%200%2064-28.7%2064-64V96c0-35.3-28.7-64-64-64H64zm297.1%2084L257.3%20234.6%20379.4%20396H283.8L209%20298.1%20123.3%20396H75.8l111-126.9L69.7%20116h98l67.7%2089.5L313.6%20116h47.5zM323.3%20367.6L153.4%20142.9H125.1L296.9%20367.6h26.3z%22%2F%3E%3C%2Fsvg%3E");
  background-size: 60%;
}

footer .menu--social-media .youtube {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="30"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="fill:white;"><path d="M35.95 9.2851C35.95 6.82254 35.1187 4.46085 33.639 2.71956C32.1594 0.978266 30.1526 0 28.06 0H7.88995C5.7974 0 3.79058 0.978266 2.31091 2.71956C0.831251 4.46085 0 6.82254 0 9.2851V20.3354C0 22.7979 0.831251 25.1596 2.31091 26.9009C3.79058 28.6422 5.7974 29.6205 7.88995 29.6205H28.06C30.1526 29.6205 32.1594 28.6422 33.639 26.9009C35.1187 25.1596 35.95 22.7979 35.95 20.3354V9.2851ZM24.09 15.6399L15.09 20.9003C14.73 21.1356 13.53 20.8297 13.53 20.3589V9.544C13.53 9.06151 14.74 8.75554 15.1 9.00268L23.7599 14.5455C24.0699 14.7808 24.45 15.4045 24.09 15.6399Z"/></g></g></svg>');
}

footer .menu--social-media .youtube:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="36" height="30"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="fill:black;"><path d="M35.95 9.2851C35.95 6.82254 35.1187 4.46085 33.639 2.71956C32.1594 0.978266 30.1526 0 28.06 0H7.88995C5.7974 0 3.79058 0.978266 2.31091 2.71956C0.831251 4.46085 0 6.82254 0 9.2851V20.3354C0 22.7979 0.831251 25.1596 2.31091 26.9009C3.79058 28.6422 5.7974 29.6205 7.88995 29.6205H28.06C30.1526 29.6205 32.1594 28.6422 33.639 26.9009C35.1187 25.1596 35.95 22.7979 35.95 20.3354V9.2851ZM24.09 15.6399L15.09 20.9003C14.73 21.1356 13.53 20.8297 13.53 20.3589V9.544C13.53 9.06151 14.74 8.75554 15.1 9.00268L23.7599 14.5455C24.0699 14.7808 24.45 15.4045 24.09 15.6399Z"/></g></g></svg>');
}

footer .menu--social-media .instagram {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" height="36"><g style="fill:white"><path d="M10.545 0.126c-1.915 0.09 -3.223 0.396 -4.366 0.845 -1.183 0.461 -2.186 1.08 -3.184 2.082s-1.612 2.005 -2.07 3.19c-0.443 1.146 -0.743 2.455 -0.828 4.371S-0.007 13.146 0.002 18.035 0.033 23.535 0.126 25.456c0.091 1.915 0.396 3.222 0.845 4.366 0.462 1.183 1.08 2.186 2.082 3.184s2.005 1.611 3.193 2.07c1.145 0.442 2.454 0.744 4.37 0.828s2.533 0.103 7.419 0.094 5.502 -0.031 7.422 -0.122 3.221 -0.398 4.365 -0.845c1.183 -0.463 2.187 -1.08 3.184 -2.082s1.612 -2.007 2.069 -3.192c0.444 -1.145 0.745 -2.454 0.828 -4.369 0.084 -1.921 0.104 -2.535 0.094 -7.422s-0.031 -5.5 -0.122 -7.42 -0.396 -3.223 -0.845 -4.368c-0.463 -1.183 -1.08 -2.185 -2.082 -3.184s-2.007 -1.613 -3.192 -2.069c-1.146 -0.443 -2.454 -0.745 -4.37 -0.828S22.854 -0.007 17.965 0.002 12.465 0.032 10.545 0.126m0.21 32.54c-1.755 -0.076 -2.708 -0.368 -3.343 -0.612 -0.841 -0.324 -1.44 -0.716 -2.073 -1.342s-1.022 -1.228 -1.35 -2.067c-0.247 -0.635 -0.544 -1.587 -0.626 -3.342 -0.089 -1.897 -0.108 -2.466 -0.118 -7.272s0.008 -5.374 0.091 -7.272c0.075 -1.754 0.368 -2.708 0.612 -3.342 0.324 -0.842 0.714 -1.44 1.342 -2.073s1.228 -1.022 2.067 -1.35c0.634 -0.248 1.586 -0.542 3.34 -0.626 1.898 -0.09 2.467 -0.108 7.272 -0.118s5.375 0.008 7.274 0.091c1.754 0.076 2.708 0.367 3.342 0.612 0.841 0.324 1.44 0.713 2.073 1.342s1.022 1.227 1.351 2.068c0.248 0.633 0.543 1.584 0.625 3.339 0.09 1.898 0.111 2.467 0.12 7.272s-0.008 5.375 -0.091 7.272c-0.077 1.755 -0.368 2.708 -0.612 3.344 -0.324 0.841 -0.715 1.44 -1.343 2.072s-1.227 1.022 -2.067 1.35c-0.634 0.247 -1.587 0.543 -3.339 0.626 -1.898 0.089 -2.467 0.108 -7.274 0.118s-5.374 -0.009 -7.272 -0.091m14.674 -24.286a2.16 2.16 0 1 0 2.156 -2.164 2.16 2.16 0 0 0 -2.156 2.164M8.758 18.018c0.01 5.105 4.156 9.234 9.26 9.224S27.253 23.087 27.243 17.982 23.086 8.747 17.982 8.757 8.748 12.914 8.758 18.018m3.242 -0.006a6 6 0 1 1 6.012 5.988 5.999 5.999 0 0 1 -6.012 -5.988"/></g></svg>');
}

footer .menu--social-media .instagram:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" height="36"><g style="fill:black"><path d="M10.545 0.126c-1.915 0.09 -3.223 0.396 -4.366 0.845 -1.183 0.461 -2.186 1.08 -3.184 2.082s-1.612 2.005 -2.07 3.19c-0.443 1.146 -0.743 2.455 -0.828 4.371S-0.007 13.146 0.002 18.035 0.033 23.535 0.126 25.456c0.091 1.915 0.396 3.222 0.845 4.366 0.462 1.183 1.08 2.186 2.082 3.184s2.005 1.611 3.193 2.07c1.145 0.442 2.454 0.744 4.37 0.828s2.533 0.103 7.419 0.094 5.502 -0.031 7.422 -0.122 3.221 -0.398 4.365 -0.845c1.183 -0.463 2.187 -1.08 3.184 -2.082s1.612 -2.007 2.069 -3.192c0.444 -1.145 0.745 -2.454 0.828 -4.369 0.084 -1.921 0.104 -2.535 0.094 -7.422s-0.031 -5.5 -0.122 -7.42 -0.396 -3.223 -0.845 -4.368c-0.463 -1.183 -1.08 -2.185 -2.082 -3.184s-2.007 -1.613 -3.192 -2.069c-1.146 -0.443 -2.454 -0.745 -4.37 -0.828S22.854 -0.007 17.965 0.002 12.465 0.032 10.545 0.126m0.21 32.54c-1.755 -0.076 -2.708 -0.368 -3.343 -0.612 -0.841 -0.324 -1.44 -0.716 -2.073 -1.342s-1.022 -1.228 -1.35 -2.067c-0.247 -0.635 -0.544 -1.587 -0.626 -3.342 -0.089 -1.897 -0.108 -2.466 -0.118 -7.272s0.008 -5.374 0.091 -7.272c0.075 -1.754 0.368 -2.708 0.612 -3.342 0.324 -0.842 0.714 -1.44 1.342 -2.073s1.228 -1.022 2.067 -1.35c0.634 -0.248 1.586 -0.542 3.34 -0.626 1.898 -0.09 2.467 -0.108 7.272 -0.118s5.375 0.008 7.274 0.091c1.754 0.076 2.708 0.367 3.342 0.612 0.841 0.324 1.44 0.713 2.073 1.342s1.022 1.227 1.351 2.068c0.248 0.633 0.543 1.584 0.625 3.339 0.09 1.898 0.111 2.467 0.12 7.272s-0.008 5.375 -0.091 7.272c-0.077 1.755 -0.368 2.708 -0.612 3.344 -0.324 0.841 -0.715 1.44 -1.343 2.072s-1.227 1.022 -2.067 1.35c-0.634 0.247 -1.587 0.543 -3.339 0.626 -1.898 0.089 -2.467 0.108 -7.274 0.118s-5.374 -0.009 -7.272 -0.091m14.674 -24.286a2.16 2.16 0 1 0 2.156 -2.164 2.16 2.16 0 0 0 -2.156 2.164M8.758 18.018c0.01 5.105 4.156 9.234 9.26 9.224S27.253 23.087 27.243 17.982 23.086 8.747 17.982 8.757 8.748 12.914 8.758 18.018m3.242 -0.006a6 6 0 1 1 6.012 5.988 5.999 5.999 0 0 1 -6.012 -5.988"/></g></svg>');
}

footer .menu--social-media .linkedin {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 42 42" width="36px" height="36px"><g style="fill:white"><path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"/></g></svg>');
}

footer .menu--social-media .linkedin:focus {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="4 4 42 42" width="36px" height="36px"><g style="fill:black"><path d="M41,4H9C6.24,4,4,6.24,4,9v32c0,2.76,2.24,5,5,5h32c2.76,0,5-2.24,5-5V9C46,6.24,43.76,4,41,4z M17,20v19h-6V20H17z M11,14.47c0-1.4,1.2-2.47,3-2.47s2.93,1.07,3,2.47c0,1.4-1.12,2.53-3,2.53C12.2,17,11,15.87,11,14.47z M39,39h-6c0,0,0-9.26,0-10 c0-2-1-4-3.5-4.04h-0.08C27,24.96,26,27.02,26,29c0,0.91,0,10,0,10h-6V20h6v2.56c0,0,1.93-2.56,5.81-2.56 c3.97,0,7.19,2.73,7.19,8.26V39z"/></g></svg>');
}

footer .block-localgov-powered-by-block,
footer .lgd-footer__footer a {
  color: var(--color-white);
}

.lgd-region--pre-footer:has(.website-feedback-form-container) {
  background-color: var(--background-blue);
}
