h1,
.field--type-text-long h2,
.navigation--quick-actions h2 {
    position: relative;
    padding-bottom: var(--spacing-large);
    margin: 0;
}

.paragraph--type--localgov-text:has(h2)+.paragraph {
    padding-top: var(--grid-gap);
    outline: 1px solid lime;
}

h1:after,
.field--type-text-long h2:after,
.navigation--quick-actions h2:after {
    content: '';
    background-color: var(--color-accent);
    width: 70px;
    height: 8px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.service-landing-page__contact h2:after,
.localgov-alert-banner h2:after,
.call-out-box h2:after,
.service-landing-page__sidebar h2:after,
.media-with-text h2:after,
.service-statuses h2:after,
.sidebar h2:after {
    content: none;
}
