/*
This CSS file, hero.css, is used to style a hero banner component.
*/

/* Hero and Hero content */

.hero__container {
  position: relative;
  /*
   * This margin is causing space between the header and the breadcrumb.
   * Keep it as a comment for now.
   *
   * margin-bottom: var(--spacing-larger);
  */
}

/* .button__content */
.path-frontpage .banner__content {
  border: 0;
  background: transparent;
}

.banner--primary .field--name-localgov-title {
  font-weight: var(--font-semibold);
}

.banner--primary .banner__image img {
  max-height: 350px;
}

.banner--primary .banner__content {
  background-color: var(--alert-banner-bg-color-major);
  color: white;
  padding: 1em var(--spacing-padding-horizontal);
  border: 0;
}
