/* Hero and Hero content */

.hero__container {
    position: relative;
    margin-bottom: var(--spacing-larger)
}

/* .button__content */
.path-frontpage .banner__content {
    background: transparent;
    border: 0;
}

/* */



.banner--primary {
    display: grid;
    grid-template: "container";
}

.banner--primary>* {
    grid-area: container;
}

.banner--primary .field--name-localgov-title {
    font-weight: var(--font-semibold);
}

.banner--primary .banner__image img {
    max-height: 350px;
}

.banner--primary .banner__content {
    --banner-content-bg-color: transparent;
    border: 0;
    padding: 0 var(--spacing-padding-horizontal);
    margin: 0;
    width: 100%;
    max-width: 100%;
}
