/*
This CSS file, images.css, is used to style image elements.
*/

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (min-width: 641px) {
  .layout--onecol__flexible img {
    max-height: 500px;
  }
}
