.lgd-row__two-thirds > * + * {
  margin-top: var(--grid-gap);
}

.layout--onecol .layout__region > * + * {
  margin-top: var(--grid-gap);
}

.layout--onecol .layout__region {
  padding: 0;
}

.layout__region > * {
  margin-bottom: initial;
  padding-top: var(--spacing-gap-smaller);
  padding-bottom: var(--spacing-gap-smaller);
}

.layout__region:empty {
  display: none;
}

.paragraph--type--page-section .layout__region--second .call-out-box {
  margin-bottom: 0;
}

.layout .media-with-text:not(.media-with-text--featured) .media-with-text__media * {
  height: 100%;
  object-fit: cover;
}

.layout__region:empty {
  display: none;
}

.layout--threecol-33-34-33,
.layout--twocol {
  /*
      @todo:
        Once we have the subsite landing pages converted to use the new
        layout, we can remove the following line. It is only here so that
        old layouts by default do not have a gap of 0 on them, which is the
        default gap for the new layouts. See line 45 above
          --page-section-regions-gap: 0;
        Once the subsites are converted, we will be using the "space between regions"
        field to set the gap witdh.
     */
  --page-section-regions-gap: var(--spacing);

  display: grid;
}

@media screen and (min-width: 40em) {
  .layout--twocol {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 641px) {

  .layout__region--second .call-out-box {
    margin-top: 0;
  }

  .layout.layout--twocol {
    flex-direction: row;
    justify-content: space-between;
    column-gap: var(--grid-gap);
  }

  .layout.layout--twocol > .layout__region--first,
  .layout.layout--twocol > .layout__region--second {
    flex: 0 1 calc(50% - calc(var(--grid-gap-smaller)));
    margin: 0;
    padding: 0;
  }
}

/* Prelimanary css */

.featured-news__card article,
.news-card article {
  background-color: transparent;
}

.node--type-localgov-news-article {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.paragraph--type--localgov-newsroom-teaser2,
.paragraph--type--localgov-newsroom-teaser2 .news-card {
  height: 100%;
}

.paragraph--type--localgov-newsroom-teaser2 .news-card article > .card-content::before {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 3px;
  content: "";
  background: var(--color-accent);
}

.paragraph--type--localgov-featured-teasers.featured-teasers {
  display: flex;
  flex-direction: column;
}

@media (min-width: 641px) {
  .field--name-field-news-cards-x4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: min-content;
    grid-gap: var(--grid-gap);
    margin: 0;
  }

  /* Restricted content */
  .ecc-restricted-content {
    margin-bottom: var(--spacing);
  }

  .news-article__content .ecc-restricted-content {
    margin-bottom: 0;
  }

  .ecc-restricted-content a.button {
    display: flex;
    align-items: center;
    padding: calc(var(--spacing) / 4) calc(var(--spacing) * 1.125);
    color: white;
    font-size: calc(var(--spacing) * 1.3125);
    font-weight: 400;
  }

  .ecc-restricted-content a.button:focus {
    color: black;
  }

  .ecc-restricted-content a.button > svg {
    width: 17px;
    height: 21px;
    margin-right: calc(var(--spacing) / 2);
  }

  .ecc-restricted-content a.button:not(:focus) {
    background: black;
  }

  .ecc-restricted-content__container {
    width: 100%;
    margin: calc(var(--spacing) * 2) 0;
    padding: 1.25rem;
    border: 2px solid black;
  }

  .ecc-related-news-container .field__item {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom: none;
  }

  .ecc-related-news-container article {
    display: block;
  }

  .ecc-related-news-container article img {
    width: 100%;
    object-fit: cover;
    aspect-ratio: 383 / 241;
  }

  .ecc-related-news-item {
    margin-bottom: calc(var(--spacing) * 2.063);
    border-bottom: 1px solid #c7c7c7;
  }

  .ecc-related-news-item .ecc-restricted-content {
    margin-bottom: var(--vertical-rhythm-spacing);
  }

  .ecc-restricted-content__container .content {
    font-family: var(--font-heading-3);
    font-size: calc(var(--spacing) * 1.875);
  }

  /* end */

  /* Featured */

  .featured-news__card article .card-content,
  .news-card article .card-content {
    position: relative;
    height: 100%;
    padding: calc(var(--spacing) * 1.25);
    font-size: calc(var(--spacing) * 1.125);
  }

  .featured-news__card .card-content h3,
  .news-card .card-content h3 {
    margin-bottom: 0;
    font-size: calc(var(--spacing) * 1.563);
  }

  .news-card article a,
  .featured-news__card article a {
    color: var(--color-black);
  }

  .lgd-row__full {
    width: calc(100% - var(--grid-column-spacing));
  }

  .service-landing-page__service.field__item.lgd-row__one-third {
    margin-right: calc(var(--grid-column-spacing) / 2);
    margin-left: calc(var(--grid-column-spacing) / 2);
  }

  .lgd-teaser-list .service-landing-page__service {
    margin-bottom: var(--vertical-rhythm-spacing);
    padding-bottom: var(--vertical-rhythm-spacing);
    border-bottom: var(--border);
  }

  .lgd-row .service-cta-block__list-item {
    margin-bottom: var(--vertical-rhythm-spacing);
  }

  .featured-news__card .node--view-mode-card-anonymous .card-content .node__content {
    height: auto;
  }

  @media screen and (min-width: 640px) {
    .ecc-restricted-content {
      margin-bottom: 0;
    }

    .ecc-restricted-content a.button {
      margin-bottom: 0;
      font-size: calc(var(--spacing) * 1.25);
    }

    .ecc-restricted-content a.button > svg {
      margin-right: calc(var(--spacing) * 0.75);
    }
  }

  @media screen and (min-width: 1025px) {
    .ecc-restricted-content__container {
      padding: calc(var(--spacing) * 2.25) calc(var(--spacing) * 5);
    }
  }

  @media screen and (min-width: 960px) {
    .ecc-related-news-container article {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-auto-rows: 1fr;
      grid-gap: var(--grid-gap);
      height: 100%;
    }

    .ecc-related-news-container article > .node__content {
      display: flex;
      flex-direction: column;
      grid-column: 2 / span 2;
      padding: 0.5rem 1rem;
    }
  }

  @media screen and (min-width: 768px) {
    .paragraph--type--news-1-4 .featured-news__card .card-content {
      height: 100%;
      min-height: auto;
    }
  }

  /* End */
}
