/* Three column layout responsiveness */
.layout--threecol-33-34-33 {
    justify-content: space-between;
}

.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--first,
.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--second,
.paragraph--type--page-section .layout--threecol-33-34-33 .layout__region--third,
.path-frontpage .layout--threecol-33-34-33 .layout__region--top,
.path-frontpage .layout--threecol-33-34-33 .layout__region--bottom {
    padding: 0
}

.layout--twocol>.layout__region>*+* {
    margin-top: var(--spacing-largest);
}

.layout__region:empty {
    display: none;
}

/* section paragragh type layout  */
.paragraph--type--page-section .layout.layout--twocol>* {
    padding: 0;
}

.paragraph--type--page-section .layout__region--second .call-out-box {
    margin-bottom: 0;
}

/**/
.layout:not(.layout--onecol) .media-with-text:not(.media-with-text--featured) .media-with-text__media * {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.layout--twocol>.layout__region>*+* {
    margin-top: var(--spacing-largest);
}

.layout__region:empty {
    display: none;
}

@media only screen and (min-width: 641px) {

    .paragraph--type--page-section .layout__region--second .call-out-box {
        margin-top: 0;
    }

    .paragraph--type--page-section .layout.layout--twocol {
        flex-direction: row;
        gap: var(--spacing-small);
        justify-content: space-between;
    }

    .paragraph--type--page-section .layout.layout--twocol>.layout__region--first,
    .paragraph--type--page-section .layout.layout--twocol>.layout__region--second {
        flex: 0 1 calc(50% - var(--spacing-small));
        margin: 0;
    }
}
