/*
This CSS file, link-block.css, is used to style a link block component.
*/

/* Link and Summary component */
.link-block {
  margin-top: var(--spacing-gap-smaller);
  border-top: 3px solid #6a6a6a;
  /* Offset for the border */
}

.link-block__title {
  font-size: var(--font-size-h3);
}

.link-block__content {
  padding-left: var(--spacing-larger);
}
