/* Link and Summary component */
.link-block {
    border-top: 3px solid #6a6a6a;
    margin-top: var(--spacing-gap-smaller);
    /* Offset for the border */
}

.link-block__title {
    font-size: var(--font-size-h3);
}

.link-block__content {
    padding-left: var(--spacing-larger);
}
