.media-with-text {
    margin: 0;
}

.media-with-text .media-with-text__media,
.media-with-text .media-with-text__media * {
    height: 100%;
}

.media-with-text--media-top .media-with-text__media {
    margin-bottom: 0;
}

.media-with-text .media-with-text__body {
    padding: var(--spacing-largest);
    flex-grow: 1;

}

.media-with-text--media-bottom .media-with-text__inner {
    grid-template-columns: 1fr;
}

.media-with-text__body {
    background-color: #c3d3e5;
    display: flex;
    flex-direction: column;
}

.media-with-text .field--name-localgov-text {
    flex-grow: 1;
}

.media-with-text .media-with-text__link {
    background-color: var(--color-white);
    padding: var(--spacing-smaller);
    display: inline-block;
    margin-top: var(--spacing-large);
    width: fit-content;
}

.media-with-text--featured {
    position: relative;
    overflow: hidden;
    border: 0;
    margin-top: var(--spacing-gap-smaller);
    margin-bottom: var(--spacing-gap-smaller);
    padding: 0;
}

.media-with-text.media-with-text--featured.media-with-text--media-right .media-with-text__inner {
    grid-template-columns: 2fr 1fr;
    position: relative;
}

.media-with-text.media-with-text--featured.media-with-text--media-left .media-with-text__inner {
    grid-template-columns: 1fr 2fr;
}

.media-with-text--featured .media-with-text__inner .media-with-text__body {
    grid-row: 1;
    width: auto;
    margin: var(--spacing-largest);
}

.media-with-text--featured .media-with-text__inner .media-with-text__media {
    grid-row: 1;
    grid-column: 1/3;
}

.media-with-text--media-right.media-with-text--featured .media-with-text__inner .media-with-text__body {
    grid-column: 1/2;
}

.media-with-text--media-left.media-with-text--featured .media-with-text__inner .media-with-text__body {
    grid-column: 2/3;
}

.media-with-text--featured .contextual-region {
    position: static;
}

.media-with-text--featured .media-with-text__body {
    background-color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.media-with-text.media-with-text--media-bottom .media-with-text__inner {
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;

}

@media screen and (max-width: 560px) {
    .media-with-text__media img {
        max-height: 200px;
    }
}

@media screen and (min-width: 561px) {

    .media-with-text .media-with-text__inner {
        height: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}
