/*
This CSS file, nav.css, is used to style a navigation component, specifically a previous-next navigation.
*/
/* Also see Sidebar.css */

/** Correct display of list item marker */
nav ul li a {
  display: block;
}

nav.lgd-prev-next .lgd-prev-next__link--next {
  flex-direction: column;
  align-items: initial;
}

nav.lgd-prev-next .lgd-prev-next__icon--next {
  display: inline-block;
  vertical-align: middle;
}

nav.lgd-prev-next .lgd-prev-next__icon path,
nav.lgd-prev-next .lgd-prev-next__link:focus .lgd-prev-next__icon path,
nav.lgd-prev-next .lgd-prev-next__link:hover .lgd-prev-next__icon path {
  fill: var(--color-black);
}

nav.lgd-prev-next .lgd-prev-next__link span.link_title {
  display: block;
  font-weight: normal;
  text-decoration-line: underline;
}

nav.lgd-prev-next .lgd-prev-next__link:focus span.link_title {
  text-decoration: none;
}

nav.lgd-prev-next ul.lgd-prev-next__list {
  flex-direction: column;
}

nav.lgd-prev-next ul.lgd-prev-next__list li {
  width: fit-content;
  width: -moz-fit-content;
  margin-top: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}

nav.navigation--quick-actions {
  margin: 1em 0;
}

nav.navigation--quick-actions h2 {
  display: none;
}

nav.navigation--quick-actions ul.menu {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 0;
  list-style-type: none;
}

nav.navigation--quick-actions li a {
  position: relative;
  display: block;
  width: 100%;
  padding: var(--breadcrumbs-padding-vertical);
  text-decoration: none;
  color: #000;
  border: 0.18em solid var(--color-black);
  border-radius: var(--border-radius);
  background: #fff;
}

nav.navigation--quick-actions li a:hover {
  border-color: var(--color-section-header-bg);
}

nav.navigation--quick-actions li a::after {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 22px;
  height: 11px;
  content: "";
  transform: rotate(270deg);
  background-image: url("data:image/svg+xml,%3Csvg width='24' height='14' fill='none' viewBox='0 0 24 14' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M23 1L12 12L1 0.999999' stroke='black' stroke-width='2'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: 100% 50%;
}

@media (max-width: 760px) {
  nav.navigation--quick-actions h2 {
    display: block;
  }

  nav.navigation--quick-actions ul.menu {
    grid-template-columns: 1fr;
  }
}
