/*
This CSS file, news.css, is used to style a news article component.
*/
.news-article .lgd-row__two-thirds {
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: 1fr;
  grid-column: auto;
  grid-gap: 0;
}

.news-article .lgd-row__two-thirds .news-article__metadata {
  order: -1;
  margin: 0;
}

.news-article .node--type-localgov-news-article .field--name-field-media-image img {
  width: 100%;
  max-inline-size: 100%;
  block-size: auto;
  height: auto;
  object-fit: cover;
  aspect-ratio: 9/5;
}

.card-content,
.news-article__content {
  display: flex;
  flex-direction: column;
  gap: var(--grid-gap-smaller);
}

.card-content {
  gap: initial;
}

/* Related news heading */
.news-article__related-title {
  margin-top: var(--spacing-larger);
}

@media only screen and (min-width: 768px) {
  .news-article__related-title {
    margin-top: var(--spacing-mega);
  }
}

@media only screen and (min-width: 768px) {
  .news-row {
    display: flex;
    justify-content: space-between;
  }

  .news-column {
    width: calc(1/3*100% - (1 - 1/3)*2rem);
    margin-right: 2rem;
    margin-bottom: 0;
  }

  .news-column:nth-child(3n) {
    margin-right: 0;
  }

  .lgd-teaser--localgov-news-article .lgd-teaser__image {
    margin-bottom: 1.5rem;
  }
}

.node--type-localgov-news-article picture > img {
  max-inline-size: 100%;
  block-size: auto;
  height: auto;
  object-fit: cover;
  aspect-ratio: 9/5;
}

.paragraph--type--newsroom-component > .featured-news__card,
.paragraph--type--news-1-4 > .featured-news__card {
  margin-bottom: var(--grid-gap);
}

.lgd-teaser__content--localgov-news-article h3 {
  margin-bottom: var(--spacing-smaller);
}

.news-card > * + * {
  margin-top: var(--spacing-largest);
}

.featured-news__card article,
.news-card article {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}
