/*
This CSS file, pagination.css, is used to style a pagination component.
*/
.ecc-pager .pager__items li.is-active {
  font-weight: var(--font-semibold);
}

.pager__item.is-active a {
  text-decoration: none;
}

a.lgd-prev-next__link:hover {
  color: var(--color-link);
}

a.lgd-prev-next__link:hover .link_title {
  text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

.lgd-prev-next__list .lgd-prev-next__link {
  text-decoration: none;
  color: var(--color-link);
  border: none;
  background-color: transparent;
  font-weight: bold;
}

.lgd-prev-next__list .lgd-prev-next__list-item--prev .lgd-prev-next__link .link_direction {
  margin-left: 0.625rem;
}

