.pager__item.is-active a {
    font-weight: var(--font-semibold);
    text-decoration: none;
}

a.lgd-prev-next__link:hover {
    color: var(--color-link);
}

a.lgd-prev-next__link:hover .link_title {
    text-decoration-thickness: max(3px, 0.1875rem, 0.12em);
}

.lgd-prev-next__list .lgd-prev-next__link {
    background-color: transparent;
    border: none;
    color: var(--color-link);
    font-weight: bold;
    text-decoration: none;
}

.lgd-prev-next__list .lgd-prev-next__list-item--prev .lgd-prev-next__link .link_direction {
    margin-left: 0.625rem;
}

.lgd-prev-next__list .lgd-prev-next__link {
    background-color: var(--color-black);
    border-color: var(--color-black);
}
