.lgd-page-section {
    padding-right: var(--spacing-padding-horizontal);
    padding-left: var(--spacing-padding-horizontal);
}

@media only screen and (max-width: 767px) {
    .lgd-row__one-third {
        margin-bottom: var(--spacing-large);
    }
}

.field__item .field--name-localgov-text:has(> h2) {
    padding-top: clamp(var(--spacing), 3vw, var(--spacing-large))
}

.lgd-region--content-bottom {
    margin-top: var(--spacing-largest);
}

.views-col:nth-child(2) {
    padding: 0 2rem;
}

/**/
.views-col:nth-child(2) {
    padding: 0 2rem;
}

@media only screen and (min-width: 1200px) {
    .ecc-container {
        width: 926px;
        margin: 0 auto;
    }
}

@media only screen and (max-width: 767px) {
    .lgd-row__one-third {
        margin-bottom: var(--spacing-large);
    }
}
