/* Step by step navigation */

.block-views-blocklocalgov-step-by-step-navigation-steps-for-overview,
.block-views-blocklocalgov-step-by-step-navigation-steps {
    padding-right: var(--spacing-padding-horizontal);
    padding-left: var(--spacing-padding-horizontal);
    max-width: var(--width-container);
    margin-right: auto;
    margin-left: auto;
}

.step-by-step-pages {
    max-width: 48rem;
}

.step-by-step-pages ol.step-list .step .step__title a {
    color: var(--color-link);
    display: inline-block;
    font-weight: var(--font-semibold);
}

.step-by-step-pages ol.step-list .step .step__title .step-show {
    display: block;
}

.step-by-step-pages .step-master {
    color: var(--color-black);
}

/* Step by step navigation sidebar */
.sidebar .lgd-region__inner .step-by-step__navigation-sidebar {
    background: var(--color-grey-lightest);
    border-width: 0.3125rem 0 0 0;
    border-style: solid;
    border-color: var(--color-accent);
    margin: 0 var(--spacing-smaller);
}
