body {
  /**
    Fonts
  */
  --font-primary: 'Lexend', Arial, Helvetica, sans-serif;
  --font-secondary: var(--font-primary);

  /**
    Font-size
  */
  --breadcrumbs-font-size: var(--font-size-small);
  --font-size-h1: var(--font-size-largest);
  --font-size-h2: var(--font-size-larger);
  --font-size-h3: var(--font-size-large);
  --font-size-h4: clamp(1.125rem, 1 + 0.25vw, 1.1875rem);
  --font-size-large: clamp(1.25rem, 1.2rem + 0.25vw, 1.3125rem);
  --font-size-larger: clamp(1.4375rem, 1.3rem + 0.5vw, 1.5625rem);
  --font-size-largest: clamp(2.1875rem, 2rem + 0.75vw, 2.375rem);
  --font-size-small: clamp(0.875rem, 0.7rem + 0.5vw, 1rem);
  --font-size: clamp(1rem, 0.85rem + 0.5vw, 1.125rem);

  /**
    Font-weight
  */
  --font-semibold: 600;
  --heading-1-font-weight: 600;
  --heading-2-font-weight: var(--heading-1-font-weight);
  --heading-3-font-weight: var(--heading-1-font-weight);
  --font-weight-normal: 400;

  /**
  Spacing
*/
  --measure: 100ch;
  --spacing-jumbo: 3rem;

  /**
    Colours
  */
  --alert-banner-bg-color-minor: #ecb720;
  --alert-banner-color: var(--color-black);
  --breadcrumbs-link-color: var(--color-black);
  --color-accent: #e40037;
  --color-blue: #4179aa;
  --color-danger: #e40037;
  --color-dusty-green: #00823b;
  --color-green: #3a7d64;
  --color-grey-lighter: #d4d4d4;
  --color-grey-lightest: #ededed;
  --color-success: #9361b3;
  --quote-author-color: var(--color-black);
  --service-statuses-container-bg-color: #4179aa;
  --sidebar-exposed-form-bg-color: var(--color-white);
  --table-bg-color: transparent;
  --tabs-button-bg-color: var(--color-grey-lighter);

  /**
  Icons
  */
  --icon-DONP_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/icon_DONP_white.svg);
  --icon-chevron-blue: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/chevron-blue.svg);
  --icon-chevron-white-right: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/chevron-white-right);
  --icon-chevron-white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/chevron-white.svg);
  --icon-emergency_red: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/icon_emergency_red.svg);
  --icon-error_red: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/icon_error_red.svg);
  --icon-facebook_icon_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/facebook_icon_white.svg);
  --icon-info_green: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/icon_info_green.svg);
  --icon-info_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/info_white.svg);
  --icon-magnifying-glass-red: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/magnifying-glass-red.svg);
  --icon-magnifying-glass: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/magnifying-glass.svg);
  --icon-quotation: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/quotation.svg);
  --icon-search_black: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/search_black.svg);
  --icon-search_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/search_white.svg);
  --icon-twitter_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/twitter_icon_white.svg);
  --icon-warning_white_round: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/warning_white_round.svg);
  --icon-warning_white_triangle: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/warning_white_triangle.svg);
  --icon-warning_yellow: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/icon_warning_yellow.svg);
  --icon-youtube_white: url(/themes/custom/ecc_theme/assets/images/ecc-shared/icons/youtube_icon_white.svg);

  /**
    Misc
   */
  --banner-title-size: var(--font-size-largest);
  --border-width-medium: 2px;
  --guide-nav-column-count: 1;
  --header-logo-width: 100%;
  --link-and-summary-title-icon-margin: var(--spacing);
  --table-bg-color: transparent;
  --table-border: none;
  --touch-size: 45px;
  --cabbage: teal;
}
