/* Pre-footer */

.footer__before-pre {
    background-color: var(--color-section-pre-footer-bg);
    color: var(--color-pre-footer-text);
}

.lgd-footer__pre-footer {
    background-color: var(--color-section-footer-bg);
    color: var(--color-pre-footer-text);
}
