/* .button__content */
.banner--primary {
  display: grid;
  grid-template: "container";
}

.banner--primary > * {
  grid-area: container;
}

.banner--primary .banner__content {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0 var(--spacing-padding-horizontal);
}

@media (min-width: 760px) {
  .banner--primary .banner__content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.banner .lgd-container {
  width: 100%;
}

.banner h1 {
  margin-bottom: var(--spacing-large);
  padding: 0.35em 1em;
  background: var(--color-white);
  font-weight: var(--heading-font-weight);
}

.banner h1::after {
  content: none;
}

.path-frontpage .banner h1 {
  --font-size-h1: clamp(1.5rem, 2.5vw, 2.562rem);

  -moz-width: fit-content;
  width: fit-content;
  padding: calc(var(--spacing) - 0.5px) var(--spacing-large);
}

.path-frontpage .banner h1::after {
  content: none;
}

.path-frontpage .banner__image img {
  width: 100%;
  max-width: 100%;
  height: 240px;
  min-height: 240px;
  max-height: 240px;
  object-fit: cover;
}

@media (min-width: 768px) {
  .path-frontpage .banner__image img {
    height: 320px;
    min-height: 320px;
    max-height: 320px;
  }
}
