.media-with-text--default .media-with-text__media img {
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

@media screen and (min-width: 640px) {
    .media-with-text--default .media-with-text__media img {
        max-height: none;
    }
}

@media screen and (min-width: 890px) {
    .media-with-text--default .media-with-text__media img {
        max-height: none;
    }
}

@media screen and (min-width: 1008px) {

    .media-with-text--media-left .media-with-text__inner,
    .media-with-text--media-right .media-with-text__inner {
        display: flex;
        justify-content: space-between;
    }

    .media-with-text--media-left .media-with-text__body,
    .media-with-text--media-right .media-with-text__body {
        min-width: 50%;
    }
}
