@media only screen and (min-width: 768px) {
  .ec-autogrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(min(calc(50% - var(--spacing-large)), 100%), 1fr));
    grid-gap: var(--grid-gap);
  }
}
