/**
 * @file
 * Custom CSS for the Digital Essex subsite.
 * NB see also ecc_subsites.module ecc_subsites_preprocess_block() for the
 * swap to white ECC logo.
 */

body {
  --background-digitalessex: var(--color-purple);
}

body.subsite-extra--color-digitalessex {
  --color-accent: var(--background-digitalessex);

  .lgd-header {
    background-color: var(--background-digitalessex);
    padding-bottom: 0;
  }

  .lgd-region--search .form-submit {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="29"><g style="fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="stroke:black;stroke-width:3;"><circle cx="11" cy="11" r="9.5"/></g><g style="stroke:black;stroke-width:3;"><line x1="17.1609" y1="18.0501" x2="24.7598" y2="27.3376"/></g></g></svg>') no-repeat 50% var(--color-white);
  }

  nav.navigation--subsites {
    background-color: var(--background-digitalessex);

    a {
      text-decoration-line: none;
    }
  }

  .lgd-region--search {
    margin-top: 0.5rem;
  }
}

.subsite-extra--color-digitalessex {

  .lgd-region--subsites-menu {
    background: var(--background-digitalessex);

    .subsite-extra__title {
      background-image: url(digitalessex_logo_white.png);
      background-size: contain;
      background-repeat: no-repeat;
      position: relative;
      height: 2em;
      margin-top: 1em;
    }

    .subsite-extra__title > a {
      color: var(--color-white);
      text-indent: -9999px;
      overflow: hidden;
      display: block;
      height: 3em;
      width: 10em;
    }

    .subsite-extra__title > a:hover {
      background-color: transparent;
      border: 1px dashed white;
    }

    .subsite-extra__title > a:focus {
      outline: none;
      box-shadow: none;
      color: var(--color-black);
      background-color: transparent;
      border: 1px solid white;
    }
  }

  .subsite-extra__header {
    display: unset;
  }

  .subsite-extra__header-toggle {
    button {
      background: transparent;
      display: flex;
      text-align: left;
      text-decoration: underline;
      border: 0;
      width: 100%;
      justify-content: space-between;
    }

    button:hover,
    button:focus {
      color: var(--color-white);
    }

    button::after {
      content: "";
      background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--><path fill='white' d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/></svg>") no-repeat;
      padding: 10px;
    }

    button[aria-expanded=true]:after {
      transform: rotate(180deg);
    }
  }

  .menu--subsites__title {
    font-weight: bold;
    font-size: var(--font-size-h2);
  }

  .menu--subsites {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    gap: 0;
  }

  .menu--subsites a {
    text-decoration-line: none;
  }

  .menu--subsites>.menu-item a {
    display: block;
    padding: var(--spacing);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-size-medium);
    background: transparent;
  }

  .menu--subsites>.menu-item--active-trail a {
    color: var(--background-digitalessex);
    background-color: var(--color-white);
  }

  .menu--subsites>.menu-item a:hover {
    color: var(--color-white);
    background-color: color-mix(in srgb, var(--background-digitalessex), black 25%);
  }

  .menu--subsites>.menu-item a:focus {
    color: var(--color-white);
    box-shadow: inset 5px 5px 0px var(--color-focus), inset -5px -5px 0px var(--color-focus);
    background: transparent;
  }

  .menu--subsites>.menu-item--active-trail a:focus {
    color: var(--color-black);
    background-color: var(--color-white);
  }

  @media screen and (min-width: 48rem) {

    .lgd-region--subsites-menu {
      padding-bottom: 0;
      border-top: 1px solid var(--color-white);
    }

    .lgd-region--subsites-menu .menu--subsites {
      display: flex;
      flex-wrap: nowrap;
      align-items: stretch;
      margin-left: calc(var(--spacing-padding-horizontal) * -1);
    }

    .menu--subsites>.menu-item a {
      background-color: transparent;
      height: 100%;
    }

    .menu--subsites>.menu-item--active-trail a {
      background-color: var(--color-white);
    }

    .subsite-extra__header-toggle-button {
      display: none;
    }
  }

  @media screen and (max-width: 48rem) {
    .lgd-header__nav--primary {
      border-bottom: 1px solid var(--color-white);
    }

    .lgd-region--subsites-menu {
      padding-inline: 0;
    }

    .subsite-menu__menu-container {
      margin-top: var(--spacing-large);
      border: 1px solid var(--color-white);
    }

    .menu--subsites {
      margin-top: 0;
    }
  }

  @media screen and (min-width: 48rem) and (max-width: 75rem) {
    .lgd-region--subsites-menu .padding-horizontal {
      padding-inline: 0;
    }
  }

  /**
    * Digital Essex uses accent colour, not link colour, for accordions.
    */
  .accordion-pane button {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
  }

  .accordion-pane button:hover,
  .accordion-pane button:focus {
    color: var(--color-accent);
    background-color: var(--color-white);
  }

  .facets-widget .accordion-pane button {
    border-color: var(--color-accent);
    background-color: var(--color-accent);
  }

  .facets-widget .accordion-pane button:hover {
    color: var(--color-accent);
    background-color: var(--color-accent);
  }
}

.ck-content .button-start--digitalessex {
  background-color: #5c2472;
}

.ck-content .button-start--digitalessex:hover {
  color: #5c2472;
}

.button-start--digitalessex {
  background-color: var(--background-digitalessex);
}

.button-start--digitalessex:hover {
  color: var(--background-digitalessex);
}
