.lgd-header {
    padding: clamp(0.5rem, 2.2vw, 0.7rem) 0;
}

@media only screen and (min-width: 1024px) {
    .block-cludo-search {
        display: flex;
        justify-content: end;
    }

    .path-frontpage .block-cludo-search {
        display: block
    }
}

.lgd-header .lgd-region--header,
.lgd-header__toggles {
    margin: 0 auto 0 0;
}

.lgd-header__nav--primary {
    display: block;
    width: 100%;
    margin-right: var(--spacing-smaller);
    margin-left: var(--spacing-smaller);
}

@media only screen and (min-width: 1024px) {
    .lgd-header__nav--primary {
        width: auto;
    }
}

.lgd-header__toggle {
    color: var(--color-black);
    border-color: var(--color-black);
    margin-left: 3rem;
}

.lgd-header .branding {
    width: clamp(280px, 25vw, 300px);
    padding: var(--spacing-smaller);
}

.lgd-header__inner> :first-child {
    flex-basis: 300px;
    flex-grow: 9999px;
}

.lgd-header__inner> :last-child {
    flex-basis: 400px;
    flex-grow: 1;
}
