/* .button__content */
.banner--primary .banner__content {
  padding-right: var(--spacing-padding-horizontal);
  padding-left: var(--spacing-padding-horizontal);
}

@media only screen and (max-width: 768px) {
  .banner--primary .banner__content {
    font-size: 2rem;
  }

  .banner__image img {
    min-height: 280px;
  }
}

.banner__content h1 {
  display: inline-block;
  margin-bottom: var(--spacing-largest);
  padding: 0.2em 0.7rem;
  background: var(--color-white);
  font-weight: var(--font-semibold);
}

.banner__content h1::after {
  content: none;
}

.lgd-region--hero-content {
  position: absolute;
  bottom: 1em;
}

.lgd-header .cludo-search-block-search-form [id^="cludo-search-block-search-form"] .form-item-search-keys {
  margin: 0 var(--spacing-smaller) 0 0;
}

@media (max-width: 720px) {
  .banner__content .cludo-search-block-search-form .form-item-search-keys {
    width: 80%;
  }
}

.banner__content .cludo-search-block-search-form .form-item-search-keys > label {
  display: none;
}

.banner__content .cludo-search-block-search-form .button.form-submit {
  text-indent: -9999px;
  border: var(--border);
  border-color: var(--color-white);
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="29"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="stroke:black;stroke-width:3;"><circle cx="11" cy="11" r="9.5"/></g><g style="stroke:black;stroke-width:3;"><line x1="17.1609" y1="18.0501" x2="24.7598" y2="27.3376"/></g></g></svg>') no-repeat 50% var(--color-white);
  padding-inline: 1.5em;
}

.banner__content .cludo-search-block-search-form .button.form-submit:focus {
  border: 2px solid var(--color-section-header-bg);
}

.banner__content .cludo-search-block-search-form .form-item,
.banner__content .cludo-search-block-search-form .form-submit {
  display: inline-block;
  margin-bottom: 0;
}

/* Banner image and text block */

.banner__content h1::after {
  content: none;
}

@media only screen and (max-width: 768px) {
  .banner--primary .field--name-localgov-title {
    font-size: 2rem;
  }

  .banner__image img {
    min-height: 280px;
  }
}

.lgd-region--search .cludo-search-block-search-form .form-text {
  border: var(--border);
}
