.subsite-extra--color-fostering {

  .lgd-region--subsites-menu {
    background: var(--background-fostering);

    .subsite-extra__title > a {
      color: var(--color-white);
    }
  }

  .menu--subsites__title {
    font-weight: bold;
    font-size: var(--font-size-h2);
  }

  .menu--subsites {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }

  .menu--subsites a {
    text-decoration-line: none;
  }

  .menu--subsites > .menu-item a {
    display: block;
    padding: var(--spacing);
    color: var(--color-white);
    font-weight: bold;
    font-size: var(--font-size-medium);

  }

  .menu--subsites > .menu-item--active-trail a,
  .menu--subsites > .menu-item a:focus,
  .menu--subsites > .menu-item a:hover {
    color: var(--color-white);
    background-color: var(--background-fostering);
  }

  @media screen and (min-width: 48rem) {

    .lgd-region--subsites-menu {
      padding-bottom: 0;
      border-top: 1px solid var(--color-white);
    }

    .lgd-region--subsites-menu .menu--subsites {
      display: flex;
      margin-left: calc(var(--spacing-padding-horizontal) * -1);
    }

    .menu--subsites > .menu-item a {
      border: 1px solid transparent;
      background-color: transparent;
    }

    .menu--subsites > .menu-item--active-trail a,
    .menu--subsites > .menu-item a:focus,
    .menu--subsites > .menu-item a:hover {
      color: var(--color-white);
      background-color: var(--background-fostering);
    }

    .menu--subsites > .menu-item--active-trail a {
      color: var(--background-fostering);
      background-color: var(--color-white);
    }

    .menu--subsites > .menu-item a:hover {
      border-color: var(--color-white);
      border-bottom: 0;
    }

    .subsite-extra__header-toggle-button {
      display: none;
    }
  }
}

