/* Newsroom teaser */
.lgd-teaser-list .views-row.news-row {
    border-bottom: 0;
    padding-bottom: 0;
    margin: 0;
}

.news-column {
    margin-bottom: 1.5rem;
}

.news-column.views-col.col-2 {
    padding: 0;
}

.view-localgov-news-list:not(.view-display-id-all_news) .lgd-teaser--localgov-news-article {
    flex-direction: column;
}

.view-localgov-news-list:not(.view-display-id-all_news) .lgd-teaser--localgov-news-article .lgd-teaser__image {
    margin-bottom: var(--spacing);
    width: 100%;
}

.view-localgov-news-list:not(.view-display-id-all_news) .lgd-teaser--localgov-news-article .lgd-teaser__content {
    margin: 0;
}

.newsroom-teaser__title a div {
    display: inline-block;
}

.newsroom-teaser__title a:focus div {
    text-decoration: none;
    color: var(--color-black);
    outline: 3px solid transparent;
    background-color: var(--color-focus);
    -webkit-box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
    box-shadow: 0 -2px var(--color-focus), 0 4px var(--color-black);
}
