/* Search */

.lgd-region--search {
    margin-top: var(--spacing-large);
}

.lgd-region--search .form-submit {
    border-color: var(--header-search-button-bg-color);
    border-width: var(--border-width-medium);
}

.lgd-region--search .block-cludo-search input[type="text"],
#edit-search-keys {
    border: var(--border-width-medium) solid var(--color-black);
    border-width: var(--border-width-medium);
    max-width: 514px;
}

.banner__content .block-cludo-search h2 {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

#block-essex-localgov-mainpagecontent-scarfolk--2 #edit-search-keys {
    max-width: 100%;
}

.lgd-region--search .form-submit,
.cludo-search-form .form-submit {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="29"><g style="fill:black;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="stroke:black;stroke-width:3;"><circle cx="11" cy="11" r="9.5"/></g><g style="stroke:black;stroke-width:3;"><line x1="17.1609" y1="18.0501" x2="24.7598" y2="27.3376"/></g></g></svg>') no-repeat 50% var(--color-white);
    padding-inline: 1.5em;
    text-indent: -9999px;
    border: var(--border-width-medium) solid var(--color-black);
    border-width: var(--border-width-medium);
}

body:not(.path-frontpage) .lgd-region--search .form-submit,
body:not(.path-frontpage) .cludo-search-form .form-submit {
    background-color: var(--color-blue);
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="29"><g style="fill:white;fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="stroke:white;stroke-width:3;"><circle cx="11" cy="11" r="9.5"/></g><g style="stroke:white;stroke-width:3;"><line x1="17.1609" y1="18.0501" x2="24.7598" y2="27.3376"/></g></g></svg>')
}

body:not(.path-frontpage) .lgd-region--search .form-submit:focus,
body:not(.path-frontpage) .cludo-search-form .form-submit:focus {
    background-color: var(--color-blue);
}

.cludo-search-form .form-wrapper {
    display: flex;
    margin-bottom: var(--spacing-smaller);
}

.cludo-search-form .form-wrapper .form-item {
    margin: 0 var(--spacing-smaller) 0 0;
    width: 28rem;
}

.path-frontpage #cludo-search-block-search-form input {
    border-width: 0;
}

#cludo-search-block-search-form label {
    position: absolute !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;
}

.block-cludo-search input:focus,
.cludo-search-form input:focus {
    outline-offset: 0;
    box-shadow: inset 0 0 0 2px;
    outline: 3px solid var(--color-focus);
    color: var(--color-black);
}

.block-cludo-search #edit-search-keys.form-text input[type="text"] {
    margin: var(--spacing);
    width: 80%;
}

.path-frontpage #cludo-search-block-search-form input[type="submit"] {
    margin: 0 0 0 var(--spacing-smallest);
}

.path-frontpage #cludo-search-block-search-form input[type="text"] {
    border: 0;
    width: 100%;
}

/* Search results page */
#cludo-search-results {
    max-width: var(--page-title-width);
}

/* Search results page pagination */
#cludo-search-results .search_page_list .active,
#cludo-search-results .search_page_list a {
    padding: 0.5rem 1.1rem;
}

#cludo-search-results ul.search_page_list li {
    padding: 0;
    width: auto;
}

/* Search results item */
#cludo-search-results .cludo-banner {
    margin: 30px 0;
}

#cludo-search-results .search-results-item a {
    text-decoration: none;
}

#cludo-search-results .search-results-item h2 {
    color: var(--color-link);
    text-decoration: underline;
}

#cludo-search-results .search-results-item a:hover h2 {
    text-decoration-thickness: max(3px, 0.225rem, 0.12em);
}

#cludo-search-results .search-results-item p {
    color: var(--color-black);
}
