.service-cta-block .service-cta-block__link--cta-info,
.service-cta-block .service-cta-block__link--cta-action {
  border: 1px solid var(--color-dusty-green);
  background-color: var(--color-dusty-green);
  font-size: var(--font-size-larger);
  font-weight: var(--font-semibold);
  line-height: inherit;
}

.service-cta-block .service-cta-block__link:hover,
.service-cta-block .service-cta-block__link:focus {
  color: var(--color-dusty-green);
  border-color: var(--color-dusty-green);
  background-color: var(--color-white);
}

.service-cta-block .service-cta-block__link:hover .service-cta-block__link-icon svg path,
.service-cta-block .service-cta-block__link:focus .service-cta-block__link-icon svg path {
  fill: var(--color-dusty-green);
}
