.service-cta-block .service-cta-block__link--cta-info,
.service-cta-block .service-cta-block__link--cta-action {
    background-color: var(--btn-start-bg-color);
    border: 1px solid var(--btn-start-bg-color);
    font-weight: var(--font-semibold);
    font-size: var(--font-size-larger);
    line-height: inherit;
}

.service-cta-block .service-cta-block__link:hover,
.service-cta-block .service-cta-block__link:focus {
    background-color: var(--color-white);
    color: var(--btn-start-bg-color);
    border-color: var(--btn-start-bg-color);
}

.service-cta-block .service-cta-block__link:hover .service-cta-block__link-icon svg path,
.service-cta-block .service-cta-block__link:focus .service-cta-block__link-icon svg path {
    fill: var(--btn-start-bg-color);
}
