body.subsite-extra--color-fostering {
  .lgd-header {
    background-color: var(--background-fostering);
    padding-bottom: 0;
  }

  .lgd-region--search .form-submit {
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="26" height="29"><g style="fill-opacity:1;stroke:none;stroke-width:1;stroke-opacity:1;fill-rule:nonzero;fill:none;"><g style="stroke:black;stroke-width:3;"><circle cx="11" cy="11" r="9.5"/></g><g style="stroke:black;stroke-width:3;"><line x1="17.1609" y1="18.0501" x2="24.7598" y2="27.3376"/></g></g></svg>') no-repeat 50% var(--color-white);
  }

  nav.navigation--subsites {
    background-color: var(--background-fostering);
    a {
      text-decoration-line: none;
    }
  }
  .main .lgd-page-title-block__title::after,
  .main .field--type-text-long h2::after {
    background-color: var(--background-fostering);
  }
}
