body {
  /**
    Colours
  */

  --color-purple: #5c2472;
  --background-blue: #004c94;
  --background-fostering: var(--color-purple);
  --banner-content-bg-color: var(--color-white);
  --banner-content-text-color: var(--color-black);
  --color-section-header-bg: var(--color-white);
  --color-section-pre-footer-bg: var(--color-black);
  --header-search-button-color-hover: var(--color-black);
  /**
    Line-height
  */
  --line-height: 1.5;

  /** misc */
  --header-logo-width: 100%;
}
