body {
  /**
    Colours
  */

  --background-blue: #004C94;
  --banner-content-bg-color: var(--color-white);
  --banner-content-text-color: var(--color-black);
  --btn-start-bg-color: #00823b;
  --btn-start-color-hover: #00823b;
  --color-link: #004c94;
  --color-section-header-bg: var(--color-white);
  --color-section-pre-footer-bg: var(--color-black);
  --header-search-button-color-hover: var(--color-black);
  /**
    Line-height
  */
  --line-height: 1.5;

  /** misc */
  --header-logo-width: 100%;
}
